@media screen and (max-width: 768px) {    
    
    .main_menu {
        width: 200px;
        
        .header{
            font-size: 14px;
        }

        .list_menu {
            font-size: 12px;
        }
    }

}

@media screen and (max-width: 600px) {    
    
    .main_menu {
        width: 150px;
    }

}

@media screen and (max-width: 320px) {    
    
    .main_menu {
        width: 100px;
        

        .list_menu {
           padding: 5px;
        }
    }
     
    .main_article {
        font-size: 12px;
        padding: 10px;
    }
}