body {
    background: rgb(152, 156, 150);
    margin: 0;
    padding: 0;
    min-width: 320px;
}

.main {
    display: flex;
    overflow: hidden;
    height: 100vh;

    #checkbox_toggle {
        display: none;
    }

    .burger {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }

    .burger-line {
        background-color: rgb(15, 15, 15);
        display: block;
        height: 3px;
        position: relative;
        width: 30px;

    }

    .burger-line::before,.burger-line::after {
        background-color: rgb(23, 24, 24);
        content: '';
        display: block;
        transition: all .3s;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .burger-line::before {
        top: 7px;
    }
    .burger-line::after {
        top: -7px;
    }

    &_menu {
        width: 300px;
        background: rgb(211, 198, 198);
        border-right: 5px solid rgb(47, 47, 48);
        overflow: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        
            .header {
                margin-top: 15px;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                
            }   

            .title_menu {
                list-style: none;
                padding: 0;
                margin-top: 0;
                
                            
            }

            .list_menu {
                font-size: 20px;
                color: black;
                border-top: 1px solid;
                display: block;
                padding: 10px 30px;
                text-decoration: none;
                cursor: pointer;
            }
            .list_menu:hover {
                transition: all .8s;
                color: rgb(174, 200, 202);
                background: rgb(51, 57, 112);
            }
    }

    .main_article {
    text-indent: 20px;
    width: 100%;
    margin-left: 10px;
    padding: 20px; 
    overflow: auto;

        code {
            background: rgb(206, 201, 201);
            margin-left: 20px;
        }

        
    }
}

