body {
    background: rgb(152, 156, 150);
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    overflow: hidden;
    height: 100vh;

    &_menu {
        width: 300px;
        background: rgb(211, 198, 198);
        border-right: 5px solid rgb(47, 47, 48);
        overflow: auto;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        height: auto;

        
            .header {
                margin-top: 15px;
                font-size: 22px;
                text-align: center;
                
            }   

            .title_menu {
                list-style: none;
                padding: 0;
                
                            
            }

            .list_menu {
                font-size: 20px;
                color: black;
                border-top: 1px solid;
                display: block;
                padding: 10px 30px;
                text-decoration: none;
                cursor: pointer;
            }
    }

    .main_article {
    text-indent: 20px;
    width: 100%;
    margin-left: 10px;
    padding: 20px; 
    overflow: auto;

        code {
            background: rgb(206, 201, 201);
            margin-left: 20px;
        }

    }
}
